/* * {
    box-sizing: border-box;
} */

/* body, html {
    height: 100vh;
    width:100vw; 
    margin: 0;
    display: flex;
} */

.main-container {
    display: flex;
    gap: 0em;
    width: 100%; /* 横方向に中央揃え */
    /* overflow-y: auto; */
    overflow-x: auto;
    height: 100vh; 
    overflow-y: hidden; 
}

.menu-container {
    flex: 1 1 auto;  /* メニュー部分の幅 */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(75,75,100,0.6);
    color: white;

    min-width: 250px;
    height: 100%;
    overflow-y: auto; 
}

.content-container {
    flex: 4 1 auto ;  /* コンテンツ部分の幅 */
    padding: 1rem;
    /* display: flex; */
    /* flex-direction: column; */
    gap: 2rem;
}

.container {
    /* display: block; 通常のブロック要素として縦に並べる */
    display: flex;
    justify-content: flex-start;
    margin:3vw;
    gap:2vw;
    margin-bottom: 1rem;
    /* 各要素の間にスペースを追加 */
}

#menu1, #menu2 {

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em; /* 内側の余白を追加 */
    width:20vw;
    height:55vh;
    border-radius: 12px;
}

.block {
    display: block; /* ブロックレベル要素として表示 */
    padding: 0em;
    margin-bottom: 0;
    font-size: 1.2em;
}

#m1_date,#m2_date,#w1_date,#w2_date {
    width:60%;
    border: 1px solid #74cdcf; /* 枠線を明るい緑色に設定 */
    border-radius: 4px;
    margin: 0.3em;
}

.media-small {
        display:none;
}

.logout{
    margin: 100px 20px;
    color: rgba(175,175,175,1);
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    display: inline-block;
}

@media (max-width: 768px) {
    .content-container {
        overflow-y: auto;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }

    #menu1,#menu2{
        width:40vw;
        height:65vh;
        min-width:200px;
    }
}

@media (max-width:576px){
    .media-small {
        display:block;
    }
    .media-large {
        display:none;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 0rem;
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        height: 100vh;
    }

    .content-container {
        overflow-y: visible;
    }
    
    .menu-container {
        overflow-y: visible;
        height: auto;
    }

    #menu1,#menu2{
        width:75vw;
    }

    .logout{
        margin: 20px 20px;
    }

}
