.previousButton,
.nextButton {
  display: flex;
  margin: 0 10px;
  align-items: center;
  border: none;
  background-color: #ffffff;
}

.currentButton {
  color: white;
  border-radius: 50%;
  background-color: black;
  width: 25px;
  height: 25px;
}

.pagiButton {
  border: none;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
}

.pagination {
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 100px auto;
  width: 600px;
}

.buttonsContainer {
  width: 320px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.spanStyle {
  width: 8px;
}

.arrowIcon {
  font-size: 20px;
}
