.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.search-text {
  font-size: 20px;
  background-color: #eeeeee;
  border: 1px solid #999;
  border-radius: 40px;
  padding: 20px 30px;
  width: 800px;
  height: 80px;
}

.search-button {
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 横に3つ並べる */
  gap: 80px;
  padding: 20px;
}

.blog-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  /* padding: 15px; */
}

.blog-card:hover {
  transform: scale(1.05);
}

.blog-image {
  display: block;
  width: 100%;
  height: 300px;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 15px;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.blog-content {
  margin-top: auto;
  font-size: 14px;
  color: #212121;
  padding: 0 15px;
  margin: 10px 0;
}

.blog-category {
  font-size: 12px;
  color: #1bc6ff;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 15px;
}

.blog-author {
  font-size: 12px;
  color: #1bc6ff;
}

.blog-posted-at {
  font-size: 12px;
  color: #888;
  margin: 5px 0;
}
