.label,
.labelRed {
  color: #4a5568; /* text-gray-700 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 700; /* font-bold */
  margin-bottom: 0.5rem; /* mb-2 */
  display: block; /* ラベルをブロック表示にして改行 */
}

.labelRed {
  color: red;
}

.BlogInput {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* shadow */
  border: 1px solid #e2e8f0; /* border */
  border-radius: 0.375rem; /* rounded */
  width: 100%; /* w-full */
  padding: 0.5rem 0.75rem; /* py-2 px-3 */
  color: #4a5568; /* text-gray-700 */
  line-height: 1.5; /* leading-tight */
  outline: none; /* focus:outline-none */
}
